@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.Play {
    text-align: start;
}

.profile-section li {
    color: antiquewhite;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3vw;
}

.profile-section {
    margin-top: 3%;
}

.scenario-box {
    background-color: #630c34;
    border: thin solid #7d4d59;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: antiquewhite;
    padding: 1%;
    margin: auto;
    position: relative;
    width: 50%;
}

.choice {
    padding: 0.5%;
    border: medium solid #518eb4;
    background-color: #241b54;
    border-radius: 20%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: antiquewhite;
    font-size: 1vw;
    margin: 1.5%;
}

.choice:hover {
    background-color: #518eb4;
    border: medium solid #241b54;
    border-radius: 20%;
}

.intro-popup {
    background: white;
    z-index: 1;
}

.popup-title {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.8vw;
    line-height: 1.5vw;
    margin-top: 1%;
    text-align: center;
}

.title {
    color: #fa9579;
}

.popup-instructions {
    border-radius: 3vw;
    margin-top: 3vw;
    line-height: 1.5vw;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.3vw;
    padding: 1.3%;
    width: 60%;
    left: 17.5%;
    position: fixed;
    color: #fbdcc4;
    background: rgb(24, 0, 0);
    text-align: center;
}

.popup {
    position: fixed;
}

.popup-ready, .popup-notready {
    all: unset;
    cursor: pointer;
    letter-spacing: 0.3vw;
}

.popup-notready {
    letter-spacing: 0.1vw;
}

.ready {
    color: green;
}

.notready {
    color: red;
}

.ready, .notready {
    font-size: 1.7vw;
    line-height: 2.4vw;
    text-align: center;
    font-weight: 700;
}

.popup-message {
    color: #e94560;
}

.ready:hover, .notready:hover {
    color: #f8c3af;
}

u {
    color: white;
}